@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
<html>
<head>
    <title>HTML Unorderd List</title>
</head>
<body>
    <h2>Study Mates</h2>
    <p>List of study mates:</p>
    <ul style="list-style-image: url('/theme/css/icons/image-editor.png');">
        <li>Name</li>
        <li>Major</li>
        <li>class</li>
    </ul>
</body>
</html>