@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/responsive.css" />

<div class="text-center">
    <h1 class="display-4 responsive">Study Mate</h1>
    <p>Welcome to Study Mate <a asp-controller="Study Mate" asp-action="Index"></a></p>
    <div class="container">
        <div class="row searchFilter">
            <div class="col-sm-12">
                <div class="input-group">
                    <input id="searchString" type="search" class="form-control" placeholder="Find your study mate here....">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="label-icon">Filter</span> <span class="caret">&nbsp;</span></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="filter_filters">
                                <li>
                                    <input class="cat_type filter-input" data-label="All" id="all" value="" name="radios" type="radio"><label for="all">All</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Standing Class" value="Standing Class"><label class="category-label" for="Standing Class">Standing Class</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Major" value="Major"><label class="category-label" for="Major">Major</label>
                                </li>

                            </ul>
                        </div>
                        <button id="searchBtn" type="button" class="btn btn-secondary btn-search" asp-area="" asp-controller="Home" asp-action="Search"><span class="glyphicon glyphicon-search">&nbsp;</span> <span class="label-icon">Search</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <script src="./js/bootstrap.bundle.min.js"></script>
</div>
