@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/responsive.css" />

<div class="text-center">
    <h1 class="display-4 responsive">Study Mate</h1>
    <p>Welcome to Study Mate. <a asp-controller="Study Mate" asp-action="Index"></a></p>

    >


    <div class="container">
        <div class="row searchFilter">
            <div class="col-sm-12">
                <div class="input-group">
                    <input id="table_filter" type="search" class="form-control" placeholder="Find your study mate here...." aria-label="Text input with segmented button dropdown">
                        <button id="searchBtn" type="button" class="btn btn-secondary btn-search"><span class="glyphicon glyphicon-search">&nbsp;</span> <span class="label-icon">Search</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

  



    <script src="./js/bootstrap.bundle.min.js"></script>
</div>